test_imgs/*
datav/*.pca
datav/DESI2_KL_*
like_fourier.dSYM/
like_fourier
*.out
like_fourier.so.dSYM/

*.so

chains/
datav/
log/

*.pyc

.nfs*

compute_covariances_fourier

.vscode
*.err
test-puma.sh
test.*
mpi_test.py
